* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  padding: 20px;
  margin-top: 10vh;
  width: 300px;
  height: 500px;
  background-color: #00aaff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border-radius: 15px;
  font-size: 20px;
}

#inchesOutput {
  background-color: greenyellow;
}

#fractionOutput {
  background-color: greenyellow;
}

#calculate {
  width: 100px;
  height: 40px;
  background-color: greenyellow;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

#calculate:hover {
  background-color: black;
  color: greenyellow;
}

#calculate:active {
  padding-top: 3px;
  border: 2px solid greenyellow;
}

#run {
  width: 55px;
  height: 30px;
  font-size: 16px;
}

#run2 {
  width: 55px;
  height: 30px;
  font-size: 16px;
}

#pitch {
  width: 120px;
  height: 30px;
  font-size: 16px;
}

button {
  padding: 0;
  border: 0;
}
